.footer {
  position: relative;
  //position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  margin-top:100px;
  height: 200px;
}

.footer-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //`background-image: url("assets/Images/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6; /* Adjust the opacity as needed */
  z-index: -1;
}

.footer-content {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  //padding: 20px;
  height: 200px;
}


.footer-content p {
  padding-top:4.5%;
}
