<div class="outerBox">
<app-search-bar></app-search-bar>
  <img class = "img" alt="" src="{{productData.photo}}" fill="">
  <div class="innerBox">{{ productData.name }}</div>
  <div class="innerBox">{{ productData.description }}</div>
  <div class="innerBox">{{ productData.cpu }}</div>
  <div class="innerBox">{{ productData.gpu }}</div>
  <div class="innerBox">{{ productData.ram }}</div>
  <div class="innerBox">{{ productData.dalle }}</div>
  <div class="innerBox">{{ productData.diagonale}}</div>
  <div class="innerBox">{{ productData.ssd }}</div>
  <div class="innerBox">{{ productData.hardDrive }}</div>
  <div class="innerBox">{{ productData.price }}</div>
  <div class="innerBox">{{ productData.brand }}</div>
  <div class="innerBox">{{ productData.connectivite }}</div>
  <div class="innerBox">{{ productData.os }}</div>
  <div class="innerBox">{{ productData.category }}</div>
  <div class="innerBox">{{ productData.stock}}</div>
</div>
