
<!--
<div class="product-card">
  <img src="{{resolvedData.photo}}" alt="Product Name">
  <h3 class="product-title">{{resolvedData.name}}</h3>
  <p class="product-description">{{resolvedData.description}}</p>
  <span class="product-price">{{resolvedData.price}}$</span>
  <button class="add-to-cart-button">Add to Cart</button>
</div>
--->
<div class="product-card">
  <img src="{{productData.photo}}" alt="Product Name">
  <h3 class="product-title">{{productData.name}}</h3>
  <p class="product-description">{{productData.description}}</p>
  <span class="product-price">{{productData.price}}$</span>

  <button class="add-to-cart-button" type="submit"><a routerLink="/productPage/{{productData.id}}">More details2</a></button>

  <form (ngSubmit)="onSubmit()">
    <button class="add-to-cart-button" type="submit">More details</button>
  </form>
</div>
