nav {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  height: 90px; /* Set a height for the nav */
  background-color: #333;
  border-radius:10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 15px; /* Add some spacing between list items */
}

a {
  color: white;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  text-align: center;
}

.nav ul li {
  display: inline-block;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
