<header id="myHeader" class="header">
    <div class="logo">
    </div >
    <nav class="nav">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <!--<li><a routerLink="/search">Search</a></li>-->
            <!--<li><a routerLink="/productPage/15">ProductPage</a></li>-->
            <li><a href="#">Services</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Sales</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li>    <div class="search-bar">
                <form (ngSubmit)="onSubmit()">
                <input type="text" [formControl]="searchForm" type="text" class="input-search" placeholder="Recherche...">
                <button type="submit">Rechercher</button>
                </form>
            </div></li>
        </ul>
    </nav>
</header>
