
<div class="home">
    <div class="presentation">
            <img src="assets/Images/home_slider_1.jpg">
        <div class="border-overlay"></div>
    </div>

    <div class="presentation2">
        <div>
            <img src="assets/Images/avds_large.jpg">
        </div>
        <div>
            <img src="assets/Images/details_1.jpg">
            <div class="border-overlay-2"></div>
        </div>
    </div>

    <div>

    </div>

  <div class="homePageProductsContainer">
    <div class="homePageProducts">
      <app-product-block *ngFor="let data of resolvedData" [productData]="data"></app-product-block>
    </div>
  </div>

</div>
