<div class="contactPageContainer">
    <div class="presentation">
        <img src="assets/Images/home_slider_1.jpg">
        <div class="border-overlay"></div>
    </div>

    <div class="contactPageContent">
        <!--<div class="contactInfoCard">-->

        <div class="contactForm">
            <div>
                <h1>Get in Touch</h1>
            </div>
            <div class="firstLastName">
                 <h2>First Name*</h2>
                <textarea rows="5"> </textarea>
                <h2> Last Name *</h2>
                <textarea rows="5"> </textarea>
            </div>
            <div>
                <h2>Subject</h2>
                <textarea rows="5" > </textarea>
            </div>
            <div>
                <h2>Message</h2>
                <textarea rows="10"> </textarea>
            </div>
            <button class="submit-button">
                Submit
            </button>
        </div>


        <div class="contactInfos">
            <div>
                <strong>Marketing</strong>
                <p>Phone: +53 345 7953 3245</p>
                <p>Email: novatech@gmail.com</p>
            </div>
            <div>
                <strong>Shipping & Returns</strong>
                <p>Phone: +53 345 7953 3245</p>
                <p>Email: yourmail@gmail.com</p>
            </div>
            <div>
                <strong>Information</strong>
                <p>Phone: +53 345 7953 3245</p>
                <p>Email: yourmail@gmail.com</p>
            </div>
        </div>

        <!--</div>-->
    </div>
</div>


